@model Vidly.ViewModels.MoviesViewModel
@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>
<table class = "table table-bordered table-hover">
    <thead>
        <tr>
            <th>Movies</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movies in Model.Movies)
        {
            <tr>
                <td>@movies.Name</td>
            </tr>
        }
    </tbody>
</table>